<div class="row">

    <h1> This is my new homepage </h1>

  <div class="col-md-5">

    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum sapiente nam incidunt doloremque quisquam sed repellendus quasi minus, ipsa quibusdam odio, ab tempore earum molestias corporis ut atque perspiciatis magnam.</p>


  </div>

<div class="col-md-5">

  <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate fugiat minima et, debitis atque unde omnis repellat optio error cum illum enim, culpa tenetur deserunt. Reiciendis quae sequi rerum deleniti.</p>
</div>


</div>
</body>
